.header {
    padding: 40px;
    text-align: center;
    color: rgb(1, 1, 1);
    background-image: linear-gradient(to bottom, #f0ecf2, #835385);
    background-size: cover;
    height: 50px;
    
  } 
